* { margin: 0; padding: 0; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #000;
}

.left { float: left; }
.right { float: right; }

h3 {
  font-weight: 300;
  color: rgba(255,255,255,.3);
  padding: 30px 25px 10px;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

h3 strong {
  color: #2bb8e8;
  font-weight: bold;
}

a, .fa {
  color: #2bb8e8;
  text-decoration: none;
}

a {
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}


/*
    PAGE STRUCTURE
*/

#container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #1d1f21;
}

#page {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #101010 url(../images/bg.jpg) no-repeat scroll 50% 0;
  background-size: cover;
  transition: all 250ms;
  position: relative;
  z-index: 2;
  box-shadow: 3px 0 8px rgba(0,0,0,.4);
}


#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 1;
}

#toggle-sidebar {
  position: absolute;
  top: 22px;
  right: 30px;
  padding: 5px;
  color: #fff;
  font-size: 24px;
  opacity: .8;
}

#toggle-sidebar:hover {
  text-decoration: none;
  opacity: 1;
}

#header {
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255,255,255,.3);
}

#footer .left { padding-left: 10px; }
#footer .right { padding-right: 10px; }

#footer a {
  color: rgba(255,255,255,.5);
}


/*
    CAMERAS
*/

table td {
  position: relative;
  padding: 20px;
  width: 33%;
  box-sizing: border-box;
}

table .condition {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  height: 30px;
  color: rgba(255,255,255,.85);
  text-shadow: 0 1px 0 rgba(0,0,0,.7);
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  padding: 2px 2%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
}

table .condition i {
  margin-left: 10px;
}

table img {
  width: 100%;
  height: auto !important;
  display: block;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
}

table .error {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}
table .error span {
  display: block;
  color: rgba(255,255,255,.3);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);

}

/*
    SIDEBAR INFORMATIONS
*/
.content {
  padding: 15px;
}

.sidebar-section {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.section-header {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255,255,255,.3);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(0,0,0,.2)
}

#sidebar h2 {
  margin: 15px 0 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

#avalanches-warning a {
  display: block;
  overflow: hidden;
}

#avalanches-warning .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px;
  vertical-align: middle;
  border-radius: 25px;
  background-color: rgba(255,255,255,.7);
  margin-right: 10px;
}

#avalanches-warning img {
  width: 38px;
  margin-top: 5px;
}

#avalanches-warning .fa {
  font-size: 16px;
  margin-top: 10px;
}

#forecast {
  overflow: hidden;
  padding-bottom: 0;
}

.weather {
  position: relative;
  padding-left: 50px;
  height: 50px;
  color: #fff;
  width: 45%;
  margin-left: 5%;
  float: left;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.weather-header {
  clear: both;
  color: #666;
  font-weight: 400;
  text-transform: capitalize;
}

#forecast .section-header {
  clear: both;
  margin-bottom: 2px;
}

.weather img {
  position: absolute;
  left: 0;
  top: 2px;
  width: 40px;
  height: 40px;
}

.weather .info {
  padding-top: 5px;
}

.weather .day-label {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  opacity: .5;
}

.temp {
  display: block;
  font-size: 18px;
}

/*
    LIGHTBOX FOR CAMERAS
*/

#imagelightbox {
  position: fixed;
  z-index: 9999;
  cursor: zoom-out;
}

.zoom {
  display: block;
  cursor: zoom-in;
}
